.navigation-bar {
    height: 50px;
}

.navigation-bar2 {
    background-color: var(--primary-color-dark);
    padding-right: var(--margin);
}
button {
    background-color: var(--primary-color-dark);
    border: none;
    border-radius: 5px;
    color: var(--functional-color-white);
}