<div class="app-component-main" fxLayout="row wrap">
  <div class="nav-bar" fxFlex="100">
    <app-navbar (openForm)="openForm($event)"></app-navbar>
  </div>

  <div
    class="form"
    fxFlex="100"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    *ngIf="formState === true"
  >
    <div fxFlex="100" fxLayoutAlign="end">
      <mat-icon (click)="close()">close</mat-icon>
    </div>

    <form
      (ngSubmit)="create($event, productForm)"
      #productForm="ngForm"
      [formGroup]="createProductForm"
      fxLayoutGap="10px"
      fxLayoutAlign="center center"
      fxFlex="100"
      fxLayout="row wrap"
    >
      <mat-form-field fxFlex="22" appearance="outline">
        <mat-label>ID</mat-label>
        <input
          matInput
          type="text"
          placeholder="Product ID"
          formControlName="productID"
        />
        <mat-error *ngIf= "createProductForm.get('productID')?.errors?.['required']">Required.</mat-error>
        <mat-error *ngIf= "createProductForm.get('productID')?.errors?.['minlength']">should contain atleast 6 numbers.</mat-error>
        <mat-error *ngIf= "createProductForm.get('productID')?.errors?.['maxlength']">should contain maximum of 10 numbers only.</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="25" appearance="outline">
        <mat-label>Product Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Product Name"
          formControlName="productName"
        />
        <mat-error *ngIf= "createProductForm.get('productName')?.errors?.['required']">Required.</mat-error>
        <mat-error *ngIf= "createProductForm.get('productName')?.errors?.['minlength']">should contain atleast 6 characters.</mat-error>
        <mat-error *ngIf= "createProductForm.get('productName')?.errors?.['maxlength']">should contain maximum of 15 characters only.</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="25" appearance="outline">
        <mat-label>Product Quantity</mat-label>
        <input
          matInput
          type="number"
          placeholder="Product Quantity"
          formControlName="productQty"
        />
        <mat-error *ngIf= "createProductForm.get('productQty')?.errors?.['required']">Required.</mat-error>
        <mat-error *ngIf= "createProductForm.get('productQty')?.errors?.['min']">should have atleat 1 quantity</mat-error>
        <button class="qty" matSuffix (click)="increment()">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <button class="qty" matSuffix (click)="decrement()">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field fxFlex="25" appearance="outline">
        <mat-label>Product Price</mat-label>
        <input
          matInput
          type="number"
          placeholder="Product Price"
          formControlName="productPrice"
        />
        <mat-error *ngIf= "createProductForm.get('productPrice')?.errors?.['required']">Required.</mat-error>
        <mat-error *ngIf= "createProductForm.get('productPrice')?.errors?.['min']">Valid price</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100" appearance="outline">
        <mat-label>Product Description</mat-label>
        <textarea
          matInput
          type="text"
          placeholder="Product Description"
          formControlName="productDescription"
        >
        </textarea>
        <mat-error *ngIf= "createProductForm.get('productDescription')?.errors?.['required']">Required.</mat-error>
      </mat-form-field>

      <button mat-flat-button fxFlex="100" *ngIf="formButton === false">
        ADD
      </button>
    </form>

    <button
      mat-flat-button
      fxFlex="10"
      *ngIf="formButton === true"
      (click)="update()"
    >
      UPDATE
    </button>
  </div>

  <div
    class="display-products"
    fxFlex="100"
    fxLayout="row wrap"
    fxLayoutGap="15px"
  >
    <app-displayproducts
      (currentData)="patch($event)"
      (view)="displayProduct($event)"
      fxFlex="70"
    ></app-displayproducts>
    <app-product fxFlex="28" [viewProduct]="viewProduct"></app-product>
  </div>
</div>
