.form {
  padding: 10px;
}
.qty {
  border: none;
  margin: none;
  padding: none;
  z-index: 2;
  cursor: pointer;
}

//remove arrow buttons
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
