<div class="app-component-main" fxLayout="row wrap">
  <div class="nav-bar" fxFlex="100">
    <app-navbar (openForm)="openForm($event)"></app-navbar>
  </div>

  <div
    class="form"
    fxFlex="100"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    *ngIf="formState === true"
  >
    <div fxFlex="100" fxLayoutAlign="end" >
      <mat-icon (click)="close()">close</mat-icon>
    </div>
    
    <form
      (ngSubmit)="create($event, productForm)"
      #productForm="ngForm"
      [formGroup]="createProductForm"
      fxLayoutGap="10px"
      fxLayoutAlign="center center"
      fxFlex="100"
    >
      <mat-form-field fxFlex="40" appearance="outline">
        <mat-label>Product Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Product Name"
          formControlName="productName"
        />
      </mat-form-field>

      <mat-form-field fxFlex="30" appearance="outline">
        <mat-label>Product Quantity</mat-label>
        <input
          matInput
          type="text"
          placeholder="Product Quantity"
          formControlName="productQty"
        />
        <button class="qty" matSuffix (click)="increment()">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <button class="qty" matSuffix (click)="decrement()">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field fxFlex="20" appearance="outline">
        <mat-label>Product Price</mat-label>
        <input
          matInput
          type="text"
          placeholder="Product Price"
          formControlName="productPrice"
        />
      </mat-form-field>

      <mat-form-field fxFlex="30" appearance="outline">
        <mat-label>Product Description</mat-label>
        <input
          matInput
          type="text"
          placeholder="Product Description"
          formControlName="productDescription"
        />
      </mat-form-field>

      <button mat-flat-button fxFlex="10" *ngIf="formButton === false">ADD</button>
      <button mat-flat-button fxFlex="10" *ngIf="formButton === true" (click)="update()">UPDATE</button>
    </form>
  </div>
  <div class="display-products" fxFlex="100">
    <app-displayproducts (currentData)="patch($event)"></app-displayproducts>
  </div>
</div>
