<div class="product-form">
  <form [formGroup]="productForm" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input
        matInput
        type="text"
        placeholder="Product Name"
        formControlName="productName"
      />
      <mat-error *ngIf="productForm.get('productName')?.errors?.['required']">Required.</mat-error>
      <mat-error *ngIf="productForm.get('productName')?.errors?.['minlength']">should contain atleast 6 characters.</mat-error>
      <mat-error *ngIf="productForm.get('productName')?.errors?.['maxlength']">should contain maximum of 15 characters only.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Product Quantity</mat-label>
      <input
        matInput
        type="text"
        placeholder="Product Quantity"
        formControlName="productQty"
      />
      <mat-error *ngIf="productForm.get('productQty')?.errors?.['required']">Required.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Product Price</mat-label>
      <input
        matInput
        type="text"
        placeholder="Product Price"
        formControlName="productPrice"
      />
      <mat-error *ngIf="productForm.get('productPrice')?.errors?.['required']">Required.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Product Description</mat-label>
      <input
        matInput
        type="text"
        placeholder="Product Description"
        formControlName="productDescription"
      />
      <mat-error
        *ngIf="productForm.get('productDescription')?.errors?.['required']">Required.</mat-error>
    </mat-form-field>

    <button mat-raised-button>SUBMIT</button>
  </form>
</div>
